@import "./modules/_header";
@import "./modules/_footer";
@import "./modules/_login";
@import "./modules/_home";

.hidden {
    display: none;
}

a {
    color: #662D91;
    text-decoration: none;

    &:hover {
        color: #707070;
        transition: all .5s ease-out;
    }

    &:visited {
        color: #707070;
    }
}