#footer {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    background: white;
    border: solid #707070 1px;
    align-items:flex-end;
    margin-left: auto;
    margin-right: auto;

    & .logo {
        margin-left: 20px;
        margin-top: 20px;
    }

    & p {
        color: #662D91;
    }
}


.copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & img {
        width: 20%;
        height: 20%;
    }

    & p {
        margin-left: 10px;
    }
}

.followUs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:20px;

    
    & img {
        width: 70%;
        height: 70%;
    }

    & p {
        margin-right: 10px;
    }
}

@media screen and (max-width: 768px) {
    #footer {
        display: none;
    }
  }