
.promo {
    max-width: 1280px; 
    margin-left: auto;
    margin-right: auto;
}

.promo  > img {
    max-width: 100%;
}

.recommend {
    max-width: 1280px;
    display: flex;   
    margin: 20px;
    margin-top: 0px;;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;


    h2 {
        font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
        font-size: 22px;
        font-weight: 500;
        color: #707070;
    }
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;

    & img {
        max-width: 30%;
    }
}